:root {
	--color-primary: #31715a;
	--color-secondary: #00312c;
	--color-accent: #3da072;
	--color-accent-strong: #74fa9d;
	--color-neutral: #fefeff;
	--color-light-black: #000101;
	--color-background: #fffefe;
	--color-background-dark: #e7eaf0;
	--color-background-darker: #0d0d0d;
	--color-success: #69fa60;
	--color-warning: #fad23b;
	--color-error: #da1b2b;
	--color-team-blue: #211df5;
	--color-team-red: #da1b2b;
}
